@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alert: #cfd90a;
  --error: #eb7b7b;
  --secondary: #2929ee;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --alert: #3c3907;
    --error: #c71717;
    --secondary: #6868fc;
  }
}
*/

.bg-error {
  background: var(--error)
}

.bg-alert {
  background: var(--alert)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: var(--secondary);
}

input {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

h1 {
  font-size: 2rem;
}

tr.clickable {
  cursor: pointer;
}

tr.error {
  background-color: var(--error);
}

tr.alert {
  background-color: var(--alert);
}

th {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  overflow: hidden; 
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
}

table, 
th, 
td {
  border: 1px solid gray;
}

.schema-id, .schema-id input, .schema-zona_id, .schema-scuola_id {
  max-width: 7ex;
}

.schema-zona, .schema-zona input {
  max-width: 10ex;
}

.schema-cognome, .schema-cognome input {
  max-width: 16ex;
}

.schema-nome, .schema-nome input {
  max-width: 16ex;
}

.schema-dataNascita, .schema-dataNascita input {
  max-width: 10ex;
}

.schema-classe, .schema-classe input {
  max-width: 5ex;
}

.schema-sezione, .schema-sezione input { 
  max-width: 5ex;
}

.schema-scuola, .schema-scuola input {
  max-width: 20ex;
}

.type-ChoiceAnswer, .type-ChoiceAnswer input {
  max-width: 3ex;
}

.type-NumberAnswer, .type-NumberAnswer input {
  max-width: 4ex;
}

.type-ScoreAnswer, .type-ScoreAnswer input {
  max-width: 4ex;
}

.schema-punti, .schema-punti input {
  max-width: 4ex;
}

