@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alert: #cfd90a;
  --error: #eb7b7b;
  --secondary: #2929ee;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --alert: #3c3907;
    --error: #c71717;
    --secondary: #6868fc;
  }
}
*/

.bg-error {
  background: var(--error)
}

.bg-alert {
  background: var(--alert)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: var(--secondary);
}

input {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

h1 {
  font-size: 3ex;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

tr.clickable {
  cursor: pointer;
}

tr.error {
  background-color: var(--error);
}

tr.alert {
  background-color: var(--alert);
}

th {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  overflow: hidden; 
  text-overflow: ellipsis;
}

table {
  border-collapse: collapse;
}

table, 
th, 
td {
  border: 1px solid gray;
}

.field-id, .field-id input, .field-zona_id, .field-scuola_id {
  max-width: 7ex;
}

.field-zona, .field-zona input {
  max-width: 10ex;
}

.field-cognome, .field-cognome input {
  max-width: 16ex;
}

.field-nome, .field-nome input {
  max-width: 16ex;
}

.field-dataNascita, .field-dataNascita input {
  max-width: 10ex;
}

.field-classe, .field-classe input {
  max-width: 5ex;
}

.field-sezione, .field-sezione input { 
  max-width: 5ex;
}

.field-scuola, .field-scuola input {
  max-width: 20ex;
}

.field-ChoiceAnswer, .field-ChoiceAnswer input {
  max-width: 3ex;
}

.field-NumberAnswer, .field-NumberAnswer input {
  max-width: 4ex;
}

.field-ScoreAnswer, .field-ScoreAnswer input {
  max-width: 4ex;
}

.field-punti, .field-punti input {
  max-width: 4ex;
}

