@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alert: #cfd90a;
  --error: #eb7b7b;
  --secondary: #2929ee;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --alert: #3c3907;
    --error: #c71717;
    --secondary: #6868fc;
  }
}
*/

.bg-error {
  background: var(--error)
}

.bg-alert {
  background: var(--alert)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: var(--secondary);
}

input {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

h1 {
  font-size: 3ex;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

tr.clickable {
  cursor: pointer;
}

tr.error {
  background-color: var(--error);
}

tr.alert {
  background-color: var(--alert);
}

th {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  overflow: hidden; 
  text-overflow: ellipsis;
  border: 1px solid gray;
}

td.thick-border-right, th.thick-border-right {
  border-right: 4px solid gray;
}

td.thick-border-left, th.thick-border-left {
  border-left: 4px solid gray;
}

table {
  border-collapse: collapse;
}

table, th {
  border: 1px solid gray;
  box-sizing: border-box;
}

th {
  border-bottom: 4px solid gray;
}

table.my-table {
    table-layout: fixed;
    width: auto;
}

.my-table th {
  background-color: rgb(174, 233, 241);
}

.my-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
}

.my-table input {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.my-table td {
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

td.workbook-data-value {
  min-width: 50ex;
}

td.correct {
  background-color: rgb(165, 244, 165);
}

td.incorrect {
  background-color: rgb(233, 115, 115);
}

td.empty {
  background-color: white;
}

td.invalid {
  background-color:rgb(255, 255, 0)
}

/** Field-specific styles **/

col.field-id, col.field-zona_id, col.field-scuola_id {
  width: 8ex;
}

col.field-zona {
  width: 5ex;
}

col.field-surname {
  width: 15ex;
}

col.field-name {
  width: 15ex;
}

col.field-birthDate {
  width: 10.5ex;
}

col.field-classYear {
  width: 6ex;
}

td.field-classYear {
  text-align: center;
}

col.field-classSection {
  width: 8ex;
}

td.field-classSection {
  text-align: center;
}

col.field-school {
  width: 20ex;
}

col.field-ChoiceAnswer {
  width: 2ex;
}

th.field-ChoiceAnswer, td.field-ChoiceAnswer {
  text-align: center;
}

col.field-NumberAnswer {
  width: 4ex;
}

col.field-score {
  font-size: 70%;
  width: 6ex;
}

td.field-score {
  font-weight: bold;
  text-align: right;
  padding-right: 4pt;
}

col.field-punti {
  width: 4ex;
}

col.field-variant {
  width: 8ex;
}

col.field-classYear {
  font-size: 80%;
}

col.actions-cell {
  width: 15ex;
}
