@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alert: #cfd90a;
  --error: #eb7b7b;
  --secondary: #2929ee;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --alert: #3c3907;
    --error: #c71717;
    --secondary: #6868fc;
  }
}
*/

.bg-error {
  background: var(--error)
}

.bg-alert {
  background: var(--alert)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: var(--secondary);
}

input {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

h1 {
  font-size: 3ex;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

tr.clickable {
  cursor: pointer;
}

tr.error {
  background-color: var(--error);
}

tr.alert {
  background-color: var(--alert);
}

th {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  overflow: hidden; 
  text-overflow: ellipsis;
  border: 1px solid gray;
}

td.thick-border-right, th.thick-border-right {
  border-right: 4px solid gray;
}

td.thick-border-left, th.thick-border-left {
  border-left: 4px solid gray;
}

table {
  border-collapse: collapse;
}

table, 
th {
  border: 1px solid gray;
}

th {
  border-bottom: 4px solid gray;
}

.my-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field-id, .field-id input, .field-zona_id, .field-scuola_id {
  max-width: 7ex;
}

.field-zona, .field-zona input {
  max-width: 10ex;
}

.field-surname, .field-surname input {
  max-width: 16ex;
}

.field-name, .field-name input {
  max-width: 16ex;
}

.field-birthDate, .field-birthDate input {
  max-width: 13ex;
}

.field-classYear, .field-classYear input {
  max-width: 5ex;
}

.field-classSection, .field-classSection input {
  max-width: 8ex;
}

.field-school, .field-school input {
  max-width: 20ex;
}

.field-ChoiceAnswer, .field-ChoiceAnswer input {
  max-width: 3ex;
  text-align: center;
}

.field-NumberAnswer, .field-NumberAnswer input {
  max-width: 4ex;
}

.field-ScoreAnswer, .field-ScoreAnswer input {
  max-width: 4ex;
}

.field-punti, .field-punti input {
  max-width: 4ex;
}

.field-variant, .field-variant input {
  max-width: 8ex;
}

.actions-cell {
  min-width: 15ex;
}

th.field-classYear {
  font-size: 80%;
}

th.field-score {
  font-size: 40%;
}

.my-table th {
  background-color: pink;
}