@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --invalid: #cfd90a;
  --error: #eb7b7b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --invalid: #3c3907;
    --error: #c71717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
}

h1 {
  font-size: 2rem;
}

tr.clickable {
  cursor: pointer;
}

tr.invalid {
  background-color: var(--invalid);
}

tr.error {
  background-color: var(--error);
}

th {
  text-align: left;
}

.schema-cognome, .schema-cognome input {
  max-width: 16ex;
}

.schema-nome, .schema-nome input {
  max-width: 16ex;
}

.schema-data_nascita, .schema-data_nascita input {
  max-width: 10ex;
}

.schema-classe, .schema-classe input {
  max-width: 5ex;
}

.schema-sezione, .schema-sezione input { 
  max-width: 5ex;
}

.schema-scuola, .schema-scuola input {
  max-width: 20ex;
}

.schema-choice, .schema-choice input {
  max-width: 2ex;
}

.schema-number, .schema-number input {
  max-width: 3ex;
}

.schema-score, .schema-score input {
  max-width: 3ex;
}